<mat-card>
    <form #idForm="ngForm">
      <mat-form-field>
          <input id="numero" ngModel name="numero" #num="ngModel" matInput placeholder="Numero du livre" required>
      </mat-form-field>
      <mat-form-field>
        <input type="text" id="titre" ngModel name="titre" #titre="ngModel" matInput placeholder="Titre du livre" required>
    </mat-form-field>
    <mat-form-field>
      <input id="pages" ngModel name="pages" #pages="ngModel" matInput placeholder="Liste des pages" required>
  </mat-form-field>
  <br>
  <input type="submit" [disabled]="!idForm.valid" value="Ajouter"
    (click)=" ajouterLivre(idForm.value.numero, idForm.value.titre, idForm.value.pages); idForm.reset()"> 
    </form>
</mat-card>
<mat-list>
    <mat-card *ngFor="let livre of livres">
      <mat-card-title>{{livre.titre}}</mat-card-title>
      <mat-card-subtitle>({{livre.numero}})</mat-card-subtitle>
      <mat-card-content><ul>{{livre.pages}}</ul></mat-card-content>
      <button (click)="deleteLivre(livre)"><mat-icon>delete</mat-icon></button>
    </mat-card>
    </mat-list>
